<%- include('productos/_header')%> <%- include('productos/_instrumentos')%>
<section class="has-background-primary-10 10p">
  <h1>Se han agregado los productos al carrito</h1>
</section>
<%- include('productos/_footer')%>
