<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Laboratorio 6</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <style>
      .column {
        text-align: center;
      }
    </style>
  </head>
  <body class="container is-fullhd">
    <header class="section">
      <div class="container">
        <h1 class="title">Laboratorio 6</h1>
        <p class="subtitle">Programación orientada a eventos</p>
      </div>
    </header>

    <section class="has-background-primary-10 10p">
      <h1 class="title">Productos</h1>
      <h2 class="subtitle">
        A continuación se muestran los productos disponibles en la página.
        <br /><strong>Agrega</strong> los que desees a tu carrito.
      </h2>
      <article class="columns">
        <div class="column subtitle">
          Bajo <br />
          <img src="/img/bajo.jpeg" />
          <p>$2911</p>
          <input type="number" class="cantidad" />
          <button
            class="button is-primary add-to-cart"
            data-precio="2911"
            instrumento="Bajo"
          >
            Agregar al carrito
          </button>
        </div>

        <div class="column subtitle">
          Piano <br />
          <img src="/img/piano.jpeg" />
          <p>$14999</p>
          <input type="number" class="cantidad" />
          <button
            class="button is-primary add-to-cart"
            data-precio="14999"
            instrumento="Piano"
          >
            Agregar al carrito
          </button>
        </div>

        <div class="column subtitle">
          Guitarra <br />
          <img src="/img/guitarra.jpeg" />
          <p>$3899</p>
          <input type="number" class="cantidad" />
          <button
            class="button is-primary add-to-cart"
            data-precio="3899"
            instrumento="Guitarra"
          >
            Agregar al carrito
          </button>
        </div>

        <div class="column subtitle">
          Batería<br />
          <img src="/img/bateria.jpeg" />
          <p>$5019</p>
          <input type="number" class="cantidad" />
          <button
            class="button is-primary add-to-cart"
            data-precio="5019"
            instrumento="Bateria"
          >
            Agregar al carrito
          </button>
        </div>
      </article>
    </section>
    <br /><br />

    <button id="button-ver-carrito" class="button is-info">Ver Carrito</button>

    <br /><br />

    <section id="carrito" class="is-hidden">
      <h2 class="title">Carrito:</h2>
      <div id="elemento-carrito"></div>
      <div>iva: $<span id="iva-carrito">0</span></div>
      <h3 class="subtitle">Total: $<span id="total-carrito">0</span></h3>
      <script src="/js/script.js"></script>
    </section>

    <section class="has-background-primary-10 10p">
      <h1 class="title">Productos</h1>
      <h2 class="subtitle">
        A continuación se muestran los productos disponibles en la página.
        <br /><strong>Agrega</strong> los que desees a tu carrito.
      </h2>
      <br />
      <h3>Productos:</h3>
      <ol>
        <li>Atomizador</li>
        <li>Fertilizante</li>
        <li>Semillas</li>
        <li>Guantes</li>
        <li>Abono</li>
      </ol>
      <br />
      <form action="/productos" method="POST">
        <label for="nombre" class="label">Agrega un producto:</label>
        <input
          class="input is-info"
          type="text"
          placeholder="Atomizador"
          id="nombre"
          name="nombre"
        />
        <label for="cantidad">Cantidad</label>
        <input
          class="input is-info"
          type="number"
          placeholder="1"
          id="cantidad"
          name="cantidad"
        />
        <br /><br />
        <input class="button is-info" type="submit" value="Enviar" />
      </form>
    </section>
    <br /><br />
    <br /><br />
  </body>
</html>
